<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create a New landmark</title>
  </head>
  <body>
    <h1>Create a New landmark</h1>
      <form action="/landmarks" method="post">
     <input  type="text" id="landmark_name" name="landmark[name]">



     <h2>Select figure: </h2>
     <%Figure.all.each do |figure|%>
     <input type="checkbox" name="figure[figure]"  id="figure<%=figure.id%>" value="<%=figure.id%>"><%=figure.name%>
     <%end%>


     <h2>Add a new landmark: </h2>
     <label>Name</label>
     <input type="text" name="landmark[name]">
     <label>Year Completed</label>
     <input type="text" name="landmark[year_completed]" id="landmark_year_completed">

     <input  type="submit" value="Create New Landmark">



     </form>

  </body>
</html>
